{{#if rows}}
<div class="playername"> <h2>Scores for {{rows.0.Username}}</h2></div>

<div class='playercard'>
    {{#each rows}}
        <div class='playerscore'>{{Name}} | {{Score}}%</br>
                                 Difficulty - {{Difficulty}} | FCS Points - {{FCSPoints}}</div>
    {{/each}}
{{/if}}
</div>