{{#if rows}}
<div class="playername"> <h2>Scores for {{rows.0.Username}}</h2></div>
<div class='playercard_low'>
    <div class='playerscore_low bpm_130_low'>
        {{#if rows.0.FCSPoints}}
            {{rows.0.Name}}<br>FCS Points - {{rows.0.FCSPoints}} | {{rows.0.Fantastics}}F | {{rows.0.Excellents}}E | {{rows.0.Greats}}G
        {{else}}
            <div class="no_score_msg">No songs played at this bpm yet</div>
        {{/if}}
    </div>
    <div class='playerscore_low bpm_140_low'>
        {{#if rows.1.FCSPoints}}
            {{rows.1.Name}}<br>FCS Points - {{rows.1.FCSPoints}} | {{rows.1.Fantastics}}F | {{rows.1.Excellents}}E | {{rows.1.Greats}}G
        {{else}}
            <div class="no_score_msg">No songs played at this bpm yet</div>
        {{/if}}
    </div>
    <div class='playerscore_low bpm_150_low'>
        {{#if rows.2.FCSPoints}}
            {{rows.2.Name}}<br>FCS Points - {{rows.2.FCSPoints}} | {{rows.2.Fantastics}}F | {{rows.2.Excellents}}E | {{rows.2.Greats}}G
        {{else}}
            <div class="no_score_msg">No songs played at this bpm yet</div>
        {{/if}}
    </div>
    <div class='playerscore_low bpm_160_low'>
        {{#if rows.3.FCSPoints}}
            {{rows.3.Name}}<br>FCS Points - {{rows.3.FCSPoints}} | {{rows.3.Fantastics}}F | {{rows.3.Excellents}}E | {{rows.3.Greats}}G
        {{else}}
            <div class="no_score_msg">No songs played at this bpm yet</div>
        {{/if}}
    </div>
    <div class='playerscore_low bpm_170_low'>
        {{#if rows.4.FCSPoints}}
            {{rows.4.Name}}<br>FCS Points - {{rows.4.FCSPoints}} | {{rows.4.Fantastics}}F | {{rows.4.Excellents}}E | {{rows.4.Greats}}G
        {{else}}
            <div class="no_score_msg">No songs played at this bpm yet</div>
        {{/if}}
    </div>
    <div class='playerscore_low bpm_174_low'>
        {{#if rows.5.FCSPoints}}
            {{rows.5.Name}}<br>FCS Points - {{rows.5.FCSPoints}} | {{rows.5.Fantastics}}F | {{rows.5.Excellents}}E | {{rows.5.Greats}}G
        {{else}}
            <div class="no_score_msg">No songs played at this bpm yet</div>
        {{/if}}
    </div>
    <div class='playerscore_low bpm_180_low'>
        {{#if rows.6.FCSPoints}}
            {{rows.6.Name}}<br>FCS Points - {{rows.6.FCSPoints}} | {{rows.6.Fantastics}}F | {{rows.6.Excellents}}E | {{rows.6.Greats}}G
        {{else}}
            <div class="no_score_msg">No songs played at this bpm yet</div>
        {{/if}}
    </div>
    <div class='playerscore_low bpm_190_low'>
        {{#if rows.7.FCSPoints}}
            {{rows.7.Name}}<br>FCS Points - {{rows.7.FCSPoints}} | {{rows.7.Fantastics}}F | {{rows.7.Excellents}}E | {{rows.7.Greats}}G
        {{else}} 
            <div class="no_score_msg">No songs played at this bpm yet</div>
        {{/if}}
    </div>
    <div class='playerscore_low bpm_200_low'>
        {{#if rows.8.FCSPoints}}
            {{rows.8.Name}}<br>FCS Points - {{rows.8.FCSPoints}} | {{rows.8.Fantastics}}F | {{rows.8.Excellents}}E | {{rows.8.Greats}}G
        {{else}} 
            <div class="no_score_msg">No songs played at this bpm yet</div>
        {{/if}}
    </div>
    <div class='playerscore_low bpm_210_low'>
        {{#if rows.9.FCSPoints}}
            {{rows.9.Name}}<br>FCS Points - {{rows.9.FCSPoints}} | {{rows.9.Fantastics}}F | {{rows.9.Excellents}}E | {{rows.9.Greats}}G
        {{else}}
            <div class="no_score_msg">No songs played at this bpm yet</div>
        {{/if}}
    </div>
    {{/if}}
</div>