{{#if rows}}
<div class="playername"> <h2>Scores for {{rows.0.Username}}</h2></div>

<div class='playercard'>
    {{#each rows}}
        {{#if FCSPoints}}
        <div class='playerscore'>{{Name}} | {{Score}}%<br>
                                 Difficulty - {{Difficulty}} | FCS Points - {{FCSPoints}}</div>
        {{else}}
        <div class="no_score_msg_difficulty">No difficulties played for this song yet</div>
        {{/if}}
    {{/each}}
{{/if}}
</div>