<div class="ranking-low">
    <h1>Player Rankings  -  Low Tournament</h1>
    {{#if rows}}
        <table class='table_ranking_low'>
            <tr>
                <th>Rank</th><th>Player</th><th>Country</th><th>Songs Played</th><th>FCS Points</th><th>Fantastics</th><th>Excellents</th><th>Greats</th><th>Go to Playercard</th>
            </tr>
            {{#each rows}}
                <tr>
                    <td>#{{Rank}}</td><td>{{Name}}</td><td>{{CountryCode}}</td><td>{{Played}}</td><td>{{Score}}</td><td class="table_fantastics">{{Fantastics}}</td>
                    <td class="table_excellents">{{Excellents}}</td><td class="table_greats">{{Greats}}</td>
                    <td class="playercard-link"><a href="/playercard/player/low/{{PlayerID}}"><i class="fa fa-caret-square-o-right"></i></a></td>
                </tr>
            {{/each}}
        </table>
    {{/if}}
</div>