<div class="ranking-high">
    <h1>Player Rankings  -  High Tournament</h1>
    {{#if rows}}
    <table class='table_ranking_high'>
        <tr>
            <th>Rank</th><th>Player</th><th>Country</th><th>Songs Played</th><th>FCS Points</th>
        </tr>
        {{#each rows}}
            <tr>
                <td>#{{Rank}}</td><td>{{Name}}</td><td>{{CountryCode}}</td><td>{{Played}}</td><td>{{Score}}</td>
            </tr>
        {{/each}}
    </table>
    {{/if}}
</div>