<div class="ranking-high">
    <h1>Player Rankings  -  High Tournament</h1>
    {{#if rows}}
    <table class='table_ranking_high'>
        <tr>
            <th>Rank</th><th>Player</th><th>Country</th><th>Songs Played</th><th>FCS Points</th><th>Go to Playercard</th>
        </tr>
        {{#each rows}}
            <tr>
                <td>#{{Rank}}</td><td>{{Name}}</td><td><img src="/img/blank.png" class="flag flag-{{CountryFlag}}" alt="{{CountryName}}"></img>{{CountryCode}}</td><td>{{Played}}</td><td>{{Score}}</td>
                <td class="playercard-link"><a href="/playercard/player/high/{{PlayerID}}"><i class="fa fa-caret-square-o-right"></i></a></td>
            </tr>
        {{/each}}
    </table>
    {{/if}}
</div>